@import "tailwindcss";

@theme {
  --font-nunito: var(--nunito);
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

sbody {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
